body {
    background-color:black;
}
h1 {
    font-weight: bold;
    font-family: Comic Sans MS, Comic Sans, cursive ;
    font-size: 3rem;
    color: whitesmoke;
    margin-bottom: -40px
}
h2 {
    height: auto;
    margin-top: 50px;
    margin-left: 40px;
    font-family: Comic Sans MS, Comic Sans, cursive ;
    font-size: 1.5rem;
    color: whitesmoke;
}
ul {
    margin-top: -10px;
    margin-left: 75px;
    font-size: 15px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: white;
}
a {
    color: cyan;
}